<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Initial Password</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Bank Name</h1>
    <p>Hello {{userName}},</p>
    <p>Your account has been successfully created. Below is your initial password:</p>
    <h2>{{initialPassword}}</h2>
    <p>Please make sure to change your password once you log in.</p>
    <p>If you need help, feel free to contact customer support.</p>
    <p class="footer">NH Bank | Customer Support: support@bank.com</p>
  </div>
</body>
</html>
